/* Custom CSS */

	.carousel-caption
	{
		bottom: 0;
		
	}

	.carousel-indicators
	{
		top: 1px;
	}

	.carousel-cars{
		box-sizing: 100px;
	}

/* The below class and animation keyframes are used by the JavaScript */
.zoomit {
	animation: zoom-in-out .5s;
}
@keyframes zoom-in-out {
	from { transform: none; }
	50% {
		transform: scale(1.4);
		transform-origin: center top;
	}
	to { transform: none; }
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contain {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} 

.footer {
font-size: 30px;
background-color: #007bff;
color: cornsilk;
}

.filling {
	
    font-family: cursive;
    background-color: lightblue;
    color: firebrick;
	width: 1550px;
}